/* Use import form to avoid stylelint unknown at-rule warnings */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}